<div class="container">
    <div class="row" id="mainContainerBookingPage">
        <div class="col-md-12">
            <a href="/"><button type="button" class="btn btn-warning" id="home-btn">Home</button></a>
            <a href="/aboutUs"><button type="button" class="btn btn-warning" id="aboutUs-btn">About Us</button></a>
            <a href="/booking"><button type="button" class="btn btn-warning" id="booking-btn">Getting
                    Started</button></a>
            <a href="/events"><button type="button" class="btn btn-warning" id="events-btn">Current Events</button></a>
        </div>
        <div class="col-md-12" id="titleBooking">
            <h1 id="instructionsTitle"><b>Let's get started!</b></h1>
            <h1 id="instructions">If you are an existing user, see the list below and click on your Name;
                otherwise click on the Registration button to continue</h1>
            <br>
            <button type="button" class="btn btn-warning" id="register-btn">Register</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-warning" id="user-btn">User</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-warning" id="planner-btn">Planner</button>
        </div>
    </div>
    <!--Users form-->
    <div id="home">
        <div class="container">
            <div class="row">
                <div class="col-6 offset-2" id="userRegistration">
                    <h1 class="text-center"><b>{{msg}}</b></h1>
                    <h2 class="text-center"><b>Enter your information to register</b></h2>
                    <form class="clearfix mb-4" action="POST">
                        <div class="form-group">
                            <label for="user-name" class="labelsForRegistration">Your Name</label>
                            <input type="text" id="user-name" class="form-control" aria-describedby="user-name"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="user-phone" class="labelsForRegistration">Your Phone Number</label>
                            <input type="text" id="user-phone" class="form-control" aria-describedby="user-phone"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="user-email" class="labelsForRegistration">Your email</label>
                            <input type="text" id="user-email" class="form-control" aria-describedby="user-email"
                                placeholder="">
                        </div>

                        <button id="submitBtn" class="btn btn-primary float-right">Submit</button>
                    </form>

                    <h3>Users in the database:</h3>
                    <ul id="user-list" class="list-group">
                        {{#each Users}}
                        <li data-id="{{this.id}}" class="list-group-item">
                            <a href="users/{{this.id}}">{{this.name}}</a>
                            <button class="btn btn-danger float-right delete">ｘ</button>
                        </li>
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <!--Planners form to create event-->
    <div id="homePlanners">
        <div class="container">
            <div class="row">
                <div class="col-6 offset-2" id="eventForm">
                    {{!-- <h1 class="text-center"><b>{{msg}}</b></h1> --}}
                    <h2 class="text-center"><b>Create your Event!</b></h2>
                    <form class="clearfix mb-4" action="POST">
                        <div class="form-group">
                            <label for="event-name" class="labelsForRegistration">Event Name</label>
                            <input type="text" id="event-name" class="form-control" aria-describedby="event-name"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="event-type" class="labelsForRegistration">Type of event (wedding, party,
                                meeting, etc)</label>
                            <input type="text" id="event-type" class="form-control" aria-describedby="event-type"
                                placeholder=""></textarea>
                        </div>
                        <div class="form-group">
                            <label for="event-location" class="labelsForRegistration">Location</label>
                            <input type="text" id="event-location" class="form-control"
                                aria-describedby="event-location" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="event-style" class="labelsForRegistration">Style</label>
                            <input type="text" id="event-style" class="form-control" aria-describedby="event-style"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="event-start" class="labelsForRegistration">Date and Start Time</label>
                            <input type="text" id="event-start" class="form-control" aria-describedby="event-start"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="event-end" class="labelsForRegistration">Date and End Time</label>
                            <input type="text" id="event-end" class="form-control" aria-describedby="event-end"
                                placeholder="">
                        </div>

                        <button id="submitEvent-btn" class="btn btn-primary float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/indexEvents.js"></script>