<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Welcome, {{user.name}}</h5>
          <ul>
<<<<<<< HEAD
            {{#each user}}
            <li>
              <button type="button" class="event btn btn-secondary" id="userEvent-btn">{{this.id}}. {{this.name}}
                {{this.email}} {{this.phone}}</button>
            </li>
=======
            {{#each events}}
              <li>
                <button type="button" class="event btn btn-secondary"  eventID={{this.id}}>{{this.id}}. {{this.name}} </button>
              </li>
>>>>>>> master
            {{/each}}
          </ul>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<<<<<<< HEAD
<!-- The Modal -->
<div id="myModalEvent" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 id="modalTitle">You successfully created a new Event!</h1>
    <img id="event-img" src="http://blog.bestbuy.ca/wp-content/uploads/2019/02/party.jpg" height=400 alt="">
  </div>

</div>

<script src="/js/index.js"></script>
=======
<!-- Modal -->
<div id="results-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title"><strong>Event Info</strong></h2>
      </div>
      <div class="modal-body">
        <h2 id="event-name">{{events.name}}</h2>
        <h4><p>{{events.startTime}}</p></h4>
        <h4><p>{{events.description}}</p></h4>
        <img id="event-img" src="http://blog.bestbuy.ca/wp-content/uploads/2019/02/party.jpg" height=200 alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script src="../public/js/index.js"></script>
<script type="text/javascript">
  $(".event").on("click", function () {
    console.log("event click")
    $("#results-modal").modal("toggle");
  })
</script>
>>>>>>> master
