<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Welcome, {{user.name}}</h5>
          <ul>
            {{#each user}}
            <li>
              <button type="button" class="event btn btn-secondary" id="userEvent-btn">{{this.id}}. {{this.name}}
                {{this.email}} {{this.phone}}</button>
            </li>
            {{/each}}
          </ul>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->
<div id="myModalEvent" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 id="modalTitle">You successfully created a new Event!</h1>
    <img id="event-img" src="http://blog.bestbuy.ca/wp-content/uploads/2019/02/party.jpg" height=400 alt="">
  </div>

</div>

<script src="/js/index.js"></script>