<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Welcome, {{user.name}}</h5>
          <ul>
            <h5>Here is a list of all avaliable events, Click on the one you're interested in</h5>
            {{#each events}}
              <li>
                <button type="button" class="event btn btn-secondary"  eventID={{this.id}}>{{this.id}}. {{this.name}} </button>
              </li>
            {{/each}}
          </ul>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
      <div class="col-md-3 offset-1" id="calendar" style="background-color:white"></div>
  </div>

</div>
<!-- Modal -->
<div id="results-modal" class="modal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        {{!-- <h2 class="modal-title"><strong>Event Info</strong></h2> --}}
        <br><br>
        <button type="button" class="btn btn-danger" id="RSVP" data-dismiss="modal">Interested!</button>
        <button type="button" class="close btn btn-primary" data-dismiss="modal">No thanks!</button>
      </div>
      <div class="modal-body">
        {{#each events}}
        <h2 id="event-name">{{this.name}}</h2>
        <h4><p>{{this.type}}</p></h4>
        <h4><p>{{this.startTime}}</p></h4>
        <h4><p>{{this.description}}</p></h4>
        {{/each}}
        <img id="event-img" src="http://blog.bestbuy.ca/wp-content/uploads/2019/02/party.jpg" height=200 alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/indexUsers.js"></script>
{{!-- <script type="text/javascript">
  $(".event").on("click", function () {
    console.log("event click")
    $("#results-modal").modal("toggle");
  })
</script> --}}